{
    "from":"SERVER NAME <server@yoururl.com>",
    "defaultRecipient": "youremail@yoururl.com",
    "server":{
        "host": "your.smtp.server.com",
        "port": 465,
        "secure": true,
        "auth": {
            "user": "your_email",
            "pass": "your_password"
        }
    }
}